.hljs { display: block; overflow-x: auto; padding: 0.5em; color: rgb(51, 51, 51); background: rgb(248, 248, 248); }
.hljs-comment, .hljs-quote { color: rgb(153, 153, 136); font-style: italic; }
.hljs-keyword, .hljs-selector-tag, .hljs-subst { color: rgb(51, 51, 51); font-weight: bold; }
.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr { color: rgb(0, 128, 128); }
.hljs-string, .hljs-doctag { color: rgb(221, 17, 68); }
.hljs-title, .hljs-section, .hljs-selector-id { color: rgb(153, 0, 0); font-weight: bold; }
.hljs-subst { font-weight: normal; }
.hljs-type, .hljs-class .hljs-title { color: rgb(68, 85, 136); font-weight: bold; }
.hljs-tag, .hljs-name, .hljs-attribute { color: rgb(0, 0, 128); font-weight: normal; }
.hljs-regexp, .hljs-link { color: rgb(0, 153, 38); }
.hljs-symbol, .hljs-bullet { color: rgb(153, 0, 115); }
.hljs-built_in, .hljs-builtin-name { color: rgb(0, 134, 179); }
.hljs-meta { color: rgb(153, 153, 153); font-weight: bold; }
.hljs-deletion { background: rgb(255, 221, 221); }
.hljs-addition { background: rgb(221, 255, 221); }
.hljs-emphasis { font-style: italic; }
.hljs-strong { font-weight: bold; }
